.font_serif{
    font-family: serif;
}
.display_block{
    display: block;
}
.space_top{
    margin-top: 2%;
}
.space_bottom{
    margin-bottom: 2%;
}
.cursor_pointer{
    cursor: pointer;
}
.float_right{
    float: right;
}
.empty_div{
    height: 30px;
}
.radio_bool_margin_left{
    margin-left: 20px;
}
.inline_hc{
    position: relative;
    top: 8px;
}
.inline_sc{
    padding: 8px;
}
footer{
    margin-top: 5%;
}