.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

preconfig.php
.htaccess
.buildpath
.project
.settings/org.eclipse.php.core.prefs

assets/temp/
.settings/.jsdtscope
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name

assets/images/profile

*.swp
*.swo

assets/upload/
.idea
application/temp/
*.sublime-project
*.sublime-workspace
