.font_bold{
    font-weight: bold;
}
.font_serif{
    font-family: serif;
}
.position_relative{
    position: relative;
}
.position_absolute{
    position: absolute;
}
.position_fixed{
    position: fixed;
}
.footer_content{
    overflow: auto;
}
.float_right{
    float: right;
}
h1.title{
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.framework_img{
    max-width: 50px;
}
.front_plus_sign{
    font-size: 3em;
    position: relative;
    top: 15px;
    padding: 0 20px;
}
footer.main{
    width: 100%;
    padding: 10px 30px;
    bottom: 0;
    right: 0;
}

div#aqsara_alert_wrapper{
    position: fixed;
    top: 80px;
    right: 2%;
    width: 98%;
}
div#aqsara_alert_wrapper > div{
    overflow: auto;
}
div#aqsara_alert_wrapper > div > div.alert.aqsara_alert{
    float: right;
    margin-bottom: 10px;
    position: relative;
    right: 0;
}
